<!-- Your HTML structure -->
<tr data-rowid='<%= i+1 %>'>
    <td>
        <i class="fa-solid fa-circle-plus add" data-id='<%=project[i]._id %>'></i>
    </td>
</tr>

<!-- Your JavaScript using jQuery -->
<script>
    $(document).ready(function () {
        $('.add').click(function () {
            var projectId = $(this).data('id');
            console.log('Project Id:', projectId);
            
            // Assuming you have an element with a corresponding data-rowid attribute
            var rowId = $(this).closest('tr').data('rowid');

            // Hide and show elements based on the data-rowid
            hideAndShowElements(rowId);
        });
    });

    function hideAndShowElements(rowId) {
        // Hide elements with a specific data-rowid
        $('tr[data-rowid="' + rowId + '"]').hide();

        // Show elements with a specific data-rowid
        // Replace this selector with the appropriate selector for the elements you want to show
        $('div[data-rowid="' + rowId + '"]').show();
    }
</script>
